
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'lato', sans-serif;
    font-weight: 450;
    line-height: 1.8em;
    color: #666
  }
#body{
  height: 100%;
}


.img1, .img2, .img3 {
  position: relative;
  opacity: .70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.img4{
  position: relative;
  opacity: 0.70;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1{
  background-image: url('./assets/img1.jpg');
  min-height: 100%;
}
.img2{
  background-image: url('./assets/bulb.jpg');
  min-height: 400px;
}
.img3{
  background-image: url('./assets/splash.jpeg');
  min-height: 400px;
}
.img4{
  background-image: url('./assets/dark-lightbulb.jpeg');
  min-height: 400px;
}
.section{
  text-align: center;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4f4;
  color: #580a0a
}
.section-dark{
  background-color: #282e34;
  color: #ddd
}
.imgText .name{
  color:black;
  background-color: #ffffffa8;
}
.imgText .title{
  color: black;
  font-size:  20px;
  background-color: #ffffffa8;
}
.space{
  height: 20px;
}
.navbar {
  top: 7px;
  font-size: 25px;
  font-family: Georgia, serif;
  display: flex;
  justify-content: center;
  background-color: #ffffffc7

}

.navLinks {
  padding-left: 90px;
  padding-right: 90px;
  color: black
}
.imgText{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.imgText .border{
  margin-left: 20%;
  margin-right: 20%;
  color: #580a0a;
}

.topQuote{
  padding-top: 12px;
  padding-bottom: 12px;
  height: 41px;
  position: absolute;
  width: 100%;
  top: 4%;
  text-align: center;
  color: white;
  font-size: 10px;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 8px;
  text-transform: uppercase;
  background-color: #312e2eb3;
}

.topQuote .border{
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  margin-top: 7px;
}

.ronsQuote{
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  color: #580a0a;
  font-family: cursive;
  text-align: center;
  font-size: 25px;
}
